# Terraform
.terraform/
.terraform.lock.hcl

# State
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Variables (sensíveis)
*.tfvars
*.tfvars.json

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc
